* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 1500px) {
  body {
      max-width: 1500px;
      margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

/* navbar//////////////////////////////////////// */
.navbar {
  background-color: #233000;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.navbar-logo {
  padding: 0px 20px;
}

.navbar-logo img {
  width: 100px;
}

.navbar-burger {
  display: none;
}

.bar {
  display: block;
  width: 50px;
  height: 5px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 10px;
}

.navbar-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.navbar-menu a {
  color: #ffffff;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar-rerservation button {
  padding: 10px 20px;
  color: white;
  background-color: #233000;
  border-radius: 5px;
  border-style: none;
  border: 2px solid #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}

.navbar-phone h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 31.47px;
  text-align: left;
  color: #FFFFFF;
}

/* content bro......................... */

.home-header {
  width: 100%;
  background-color: #233000;
  padding-top: 30px;
}

.top-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 40px;
}

.top-header-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.headline-hero {
  gap: 10px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.headline-hero h1 {
  font-size: 100px;
  color: #ffffff;
}

.headline-hero p {
  font-size: 24px;
  color: rgb(255, 255, 255);
  opacity: 85%;
}

.scroll {
  position: absolute;
  transform: rotate(90deg);
  top: 35em;
  left: -9em;
  padding-top: 10px;
}

.scroll h4 {
  color: #ffffff;
  font-size: 30px;
}

.cooked-meat {
  width: 80%;
}

.cooked-meat img {
  width: 100%;
  height: auto;
}

.top-header-right {
  width: 50%;
  position: relative;
  /* left: -50px; */
  padding-top: 100px;
}

.spices {
  width: 80%;
  height: 150px;
  position: relative;
  bottom: 80px;
  left: -220px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.spices img {
  width: 150px;
}

.bottom-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px 40px 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.diet-box {
  width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.diet-box img {
  width: 100%;
}

.diet-box h3 {
  width: 60%;
  color: #ffffff;
  font-size: 40px;
}

.diet-box p {
  width: 60%;
  color: #ffffff;
  font-size: 20px;
}

.pepper-bottles {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pepper-bottles img {
  width: 100%;
}

.pepper-bottles p {
  color: #ffffff;
  width: 80%;
  margin: 0px auto;
}

/* ............section home menu................ */

.home-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-heading-name h2 {
  font-size: 80px;
}

.menu-heading-name p {
  max-width: 80%;
  font-size: 20px;
  opacity: 80%;
}

.menu-heading-img img {
  width: 500px;
}

@media (max-width: 1200px) {
  .menu-heading {
      position: relative;
  }

  .menu-heading-name {
      background: url('assets/leaf.png') no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
  }

  .menu-heading-img {
      display: none;
  }

  .menu-heading-name h2, .menu-heading-name p {
      position: relative;
      z-index: 1;
  }
}

.pricelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.pricelists {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.pricelists h6 {
  font-size: 25px;
  text-align: right;
}

.pricelists .dot-line {
  display: flex;
  width: 100%;
}

.dot-line:after {
  border-bottom: 2px dotted black;
  content: '';
  flex: 1;
}

.pricelists h4 {
  width: 85%;
  font-size: 40px;
}

.pricelists p {
  width: 90%;
  font-size: 25px;
  opacity: 80%;
}

/* ....................section chef............. */

.chef {
  width: 100%;
  background: #ebf0e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.chef .chef-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#leaf {
  width: 200px;
  height: 200px;
  position: relative;
  left: 32px;
  top: 90px;
}
#men {
  width: 500px;
  height: 500px;
  position: relative;
  left: 35px;
  bottom: 50px;
}
.chef .chef-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-right: 100px;
}

.chef .chef-right h1 {
  font-size: 90px;
  text-align: start;
}

.chef .chef-right p {
  opacity: 80%;
  color: gray;
  font-size: 24px;
}

#leaf2 {
  width: 200px;
  height: 200px;
  position: relative;
  left: 250px;
  top: 20px;
}
/* Media Query for section 3 chef */
@media (max-width: 1168px) {
  .chef {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chef .chef-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  .chef .chef-right h1 {
    font-size: 50px;
    text-align: center;
  }
  #men {
    width: 375px;
    height: 400px;
    position: relative;
    left: -68px;
    bottom: 50px;
  }
  #leaf {
    position: relative;
    left: -71px;
  }
  #leaf2 {
    position: relative;
    left: 20px;
    top: -25px;
  }
  .menu-heading-img img {
    width: 300px;
  }
  .spices img {
    width: 100px;
  }
  .cooked-meat {
    width: 100px;
  }
  .headline-hero h1 {
    font-size: 75px;
  }
  .headline-hero p {
    font-size: 21px;
  }
  .pricelists h6 {
    font-size: 26px;
    text-align: center;
  }
}

/* ..............features........................ */
.features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 100px 0;
  gap: 20px;
}

.iconboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconboxes img {
  width: 150px;
  height: 150px;
}

.iconboxes h4 {
  font-size: 30px;
  color: #000000;
  padding: 10px 0px;
}

.iconboxes p {
  width: 80%;
  font-size: 15px;
  color: #000000;
  opacity: 90%;
  text-align: center;
  padding: 5px 0;
}

/* ..............Reservation........................ */

.reserve {
  width: 100%;
  height: 100vh;
  background-color: #ebf0e4;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 20px;
}

.reserve span h6 {
  opacity: 70%;
  color: gray;
}

.reserve .dropBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 25px;
  align-items: center;
  position: relative;
  top: 190px;
  flex-wrap: wrap;
}

.reserve .dropBox .box1 {
  width: 250px;
  height: 45px;
  border: 2px solid black;
}

.reserve .dropBox .box1 img {
  width: 200px;
  height: 20px;
  position: relative;
  bottom: 3px;
}

.reserve .dropBox .box1 p {
  font-size: 17px;
  text-align: center;
  position: absolute;
  top: 13px;
}

#button {
  width: 200px;
  height: 40px;
  border: 2px solid black;
  background-color: green;
  color: white;
  text-align: center;
  position: relative;
  top: 300px;
}



/* .......section 5 recent posts............. */
.recent_post {
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  /* box-sizing: border-box; */
}

.recent-LR {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 500px;
  /* box-sizing: border-box;  */
}

.img-btn {
  display: flex;
  position: relative;
}

.img-btn img {
  width: 100%;
  border-radius: 20px;
}

.fashion {
  margin: 20px 20px;
  position: absolute;
  right: 0;
  padding: 5px 10px;
  border-style: none;
  background-color: #5E6600;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.img-btn-infor {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.person-data {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.person-data img {
  width: 50px;
}

.img-btn-infor2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-btn-infor2 h4 {
  font-size: 35px;
}

.img-btn-infor2 .dot-line {
  display: flex;
  width: 100%;
}

.img-btn-infor2 button {
  width: 100px;
  border-style: none;
  background-color: #ffffff;
}

/* ............................................. */
.category {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.category-heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category-heading h1 {
  font-size: 100px;
  text-align: center;
}

.category-heading p {
  font-size: 25px;
  opacity: 80%;
  text-align: center;
}

.category-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.category-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category-menu-items img {
  width: 400px;
  border-radius: 20px;
}

.custom-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-style: none;
  background-color: transparent;
  color: #5E6600;
  cursor: pointer;
  padding: 20px 20px;
  font-size: 30px;
}
.button-arrow {
  font-size: 30px;
}

/*Footer Section*/

.allfooter {
  background-color: #233000;
  width: 100%;
  padding: 50px;
  margin-top: 20px;
}

.footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 50px;
}

.footer .leftside {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 150px;
}

.footer .leftside .contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer .rightside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 20px;
  position: relative;
  left: 70px;
  flex-wrap: wrap;
}

.footer .rightside .recipe {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  row-gap: 20px;
  flex-wrap: wrap;
}

.rightside h2 {
  position: relative;
  top: -10px;
}

#btn {
  width: 300px;
  height: 40px;
  background: none;
  text-align: start;
  color: white;
  border: 1.5px solid black;
  padding: 10px;
}

#p {
  font-size: 12px;
}

.footer .subscribe button {
  width: 150px;
  height: 40px;
  background: none;
  background-color: #5e6600;
  text-align: center;
  color: white;
  position: relative;
  right: 25px;
  top: 6px;
}

.allfooter .horizantal {
  border-top: 5px dotted white;
  line-height: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.allfooter .horizantal .end-left p{
  font-size: 18px;
  color: white;
}

.allfooter .horizantal .end-right{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.allfooter .horizantal .end-right img{
  width: 25px;
  height: 25px;
}

/* End */
